:root {
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --hero-bg-color: #ffb8ca;
  --section-bg-color: #fff5f6;
  --primary-text-color: #907e82;

  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}
