<section class="adv-section">
    <h2 class="visually-hidden adv-section__title">Advantages</h2>
    <ul class="container adv list ">
        <li class="adv__item adv__item--first">
            <h2 class="adv__title title">
                721
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="adv__item adv__item--second">
            <h2 class="adv__title title">
                16KG
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="adv__item adv__item--third">
            <h2 class="adv__title title">
                84
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>   
</section>