<section class="adv-section">
    <div class="container adv">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="adv__list list">
            <li class="adv__item adv__item--first">
                <h2 class="adv__title title">
                    721
                </h2>
                <p class="adv__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="adv__item adv__item--second">
                <h2 class="adv__title title">
                    16KG
                </h2>
                <p class="adv__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="adv__item adv__item--third">
                <h2 class="adv__title title">
                    84
                </h2>
                <p class="adv__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>   
    </div>
</section>