<div class="container adv">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="adv__list list">
        <li class="adv__item">
            <h2 class="adv__title title">
                721
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="adv__item">
            <h2 class="adv__title title">
                16kg
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="adv__item">
            <h2 class="adv__title title">
                84
            </h2>
            <p class="adv__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>   
</div>