<section class="contacts" id="contact">
    <div class="contacts-bg">
        <h2 class="contacts__title visually-hidden">Our contacts</h2>
        <div class="container">    
            <div class="contacts-cards">
            <ul class="contacts-list list">
                <li class="contacts-list__item">
                    <p class="contacts-list__category">CAFE</p>
                    <h3 class="contacts-list__title">Chicago</h3>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="data-time">
                        <ul class="data-time-list list">
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Monday - Friday</p>
                            <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Saturday - Sunday</p>
                            <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                        </li>
                        </ul>
                    </div>
                    <div class="data-contacts">
                        <ul class="data-contacts-list list">
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts-list__item">
                    <p class="contacts-list__category contacts-list__category--second">FOODTRUCK</p>
                    <h3 class="contacts-list__title">Los Angeles</h3>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="data-time">
                        <ul class="data-time-list list">
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Monday - Friday</p>
                            <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Saturday - Sunday</p>
                            <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                        </li>
                        </ul>
                    </div>
                    <div class="data-contacts">
                        <ul class="data-contacts-list list">
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts-list__item">
                    <p class="contacts-list__category">CAFE</p>
                    <h3 class="contacts-list__title">New York</h3>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="data-time">
                        <ul class="data-time-list list">
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Monday - Friday</p>
                            <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="data-time-list__item">
                            <p class="data-time-list__text">Saturday - Sunday</p>
                            <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                        </li>
                        </ul>
                    </div>
                    <div class="data-contacts">
                        <ul class="data-contacts-list list">
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="data-contacts-list__item">
                            <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        </ul>
                    </div>
                </li>
            </ul>
            </div>
            <div class="contacts-buttons">
                <button class="contacts__btn contacts__btn--top" type="button" data-map-modal-open>
                    Our Locations
                    <svg class="contacts__icon contacts__icon--top" width="13" height="26">
                        <use href="../src/images/icon.svg#icon-bracket"></use>
                    </svg>
                </button>
                <button class="contacts__btn contacts__btn--bottom" type="button" data-franchise-modal-open>
                    Franchise
                    <svg class="contacts__icon contacts__icon--bottom" width="13" height="26">
                        <use href="../src/images/icon.svg#icon-bracket"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Модалка Франшиза -->

    <div class="franchise-backdrop is-hidden" data-franchise-modal>
        <div class="franchise-modal">
            <button type="button" class="franchise-modal-close__btn" data-franchise-modal-close>
                <svg width="11" height="11">
                    <use href="../src/images/icon.svg#icon-contacts-close"></use>
                </svg>
            </button>
            <div class="franchise-modal-content">
                <p class="franchise-modal__title">REQUEST FRANCHISE INFORMATION</p>
                <form action="#">
                    <div class="franchise-modal-form">
                        <label class="franchise-modal-form__label">Name:
                            <span>
                                <input class="franchise-modal-form__input" type="text" name="name" required>
                                <svg class="franchise-modal-form__icon" width="18" height="18">
                                    <use href="../src/images/icon.svg#icon-name-modal"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                    <div class="franchise-modal-form">
                        <label class="franchise-modal-form__label">Tel:
                            <span>

                                <input class="franchise-modal-form__input" type="tel" name="tel" required>

                             
                                <svg class="franchise-modal-form__icon" width="18" height="18">
                                    <use href="../src/images/icon.svg#icon-phone-modal"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                    <div class="franchise-modal-form">
                        <label class="franchise-modal-form__label">E-mail:
                            <span>
                                <input class="franchise-modal-form__input" type="email" name="mail" required>
                                <svg class="franchise-modal-form__icon" width="18" height="18">
                                    <use href="../src/images/icon.svg#icon-email-modal"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                    <div class="franchise-modal-privacy">
                        <label class="franchise-modal-privacy__label">
                            <input class="franchise-modal-privacy__checkbox" type="checkbox" name="privacy" required>
                            <span class="franchise-modal-privacy__icon"></span>
                            &nbsp;Yes, I want manager to contact me via e-mail, SMS, or phone.
                        </label>
                    </div>
                    <button class="franchise-modal__btn" type="submit">LEARN MORE</button>
                </form>
            </div>
        </div>
    </div>

    <!-------------------- Модалка Карты ------------------------->

    <div class="map-backdrop is-hidden" data-map-modal>
        <div class="map-modal">
            <button type="button" class="map-modal-close__btn" data-map-modal-close>
                <svg width="11" height="11">
                    <use href="../src/images/icon.svg#icon-contacts-close"></use>
                </svg>
            </button>
            <div class="map-modal-content">
                <ul class="map-list">
                    <li class="map-list__item">
                        <p class="map-list__text">Chicago</p>
                        <div class="map-list__border">
                        <iframe class="map-list__map" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10580.868047419504!2d-87.72800433155267!3d41.91101051462466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcd4f655c5a49%3A0x6754eec46d7c52db!2sDayglow!5e0!3m2!1sru!2sge!4v1642519664963!5m2!1sru!2sge"
                            width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                        </div>
                    </li>
                    <li class="map-list__item">
                        <p class="map-list__text">Los Angeles</p>
                        <div class="map-list__border">
                        <iframe class="map-list__map" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4746.464306921126!2d-118.47459149302009!3d33.98895936661135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb2e7ec30bd3%3A0xf3d594e43b6a0586!2sStarbucks!5e0!3m2!1sru!2sge!4v1642519984154!5m2!1sru!2sge"
                            width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                        </div>
                    </li>
                    <li class="map-list__item">
                        <p class="map-list__text">New York</p>
                        <div class="map-list__border">
                        <iframe class="map-list__map" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10491.345742176003!2d-73.9594648276328!3d40.57911684859192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24479766a63f9%3A0xea67290496a9115b!2sRocca%20Cafe%20%26%20Lounge!5e0!3m2!1sru!2sge!4v1642520486461!5m2!1sru!2sge"
                            width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>