<section class="contacts container" id="contact">
    <h2 class="contacts__title visually-hidden">Our contacts</h2>
    <div class="contacts-cards">
    <ul class="contacts-list list">
        <li class="contacts-list__item">
            <p class="contacts-list__category">CAFE</p>
            <h3 class="contacts-list__title">Chicago</h3>
            <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="data-time">
                <ul class="data-time-list list">
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Monday - Friday</p>
                    <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                </li>
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Saturday - Sunday</p>
                    <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                </li>
                </ul>
            </div>
            <div class="data-contacts">
                <ul class="data-contacts-list list">
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                </ul>
            </div>
        </li>
        <li class="contacts-list__item">
            <p class="contacts-list__category contacts-list__category--second">FOODTRUCK</p>
            <h3 class="contacts-list__title">Los Angeles</h3>
            <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="data-time">
                <ul class="data-time-list list">
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Monday - Friday</p>
                    <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                </li>
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Saturday - Sunday</p>
                    <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                </li>
                </ul>
            </div>
            <div class="data-contacts">
                <ul class="data-contacts-list list">
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                </ul>
            </div>
        </li>
        <li class="contacts-list__item">
            <p class="contacts-list__category">CAFE</p>
            <h3 class="contacts-list__title">New York</h3>
            <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="data-time">
                <ul class="data-time-list list">
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Monday - Friday</p>
                    <p class="data-time-list__text">06:00 AM - 10:00 PM</p>
                </li>
                <li class="data-time-list__item">
                    <p class="data-time-list__text">Saturday - Sunday</p>
                    <p class="data-time-list__text">08:00 AM - 16:00 PM</p>
                </li>
                </ul>
            </div>
            <div class="data-contacts">
                <ul class="data-contacts-list list">
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="data-contacts-list__item">
                    <a class="data-contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                </ul>
            </div>
        </li>
    </ul>
    </div>
    <div class="contacts-buttons">
        <button class="contacts__btn contacts__btn--top" type="button">
            Our Locations
            <svg class="contacts__icon contacts__icon--top" width="13" height="26">
                <use href="../src/images/icon.svg#icon-bracket"></use>
            </svg>
        </button>
        <button class="contacts__btn contacts__btn--bottom" type="button">
            Franchise
            <svg class="contacts__icon contacts__icon--bottom" width="13" height="26">
                <use href="../src/images/icon.svg#icon-bracket"></use>
            </svg>
        </button>
    </div>
</section>