<footer class="footer">
    <div class="container">
        <div class="footer-title__box">
            <p class="footer__title--top">homemade ice cream made</p>
            <p class="footer__title--bottom">with passion</p>
        </div>
        <ul class="list footer-social__list">
            <li class="footer-social__item">
                <div>
                    <a href="https://github.com/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="18" height="18">
                            <use href="../src/images/icon.svg#icon-github"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="footer-social__item">
                <div>
                    <a href="https://web.telegram.org/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="19" height="15">
                            <use href="../src/images/icon.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="footer-social__item">
                <div>
                    <a href="https://www.facebook.com/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="9" height="19">
                            <use href="../src/images/icon.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
        <div class="footer-text__container">
            <p class="footer__text">Feel free to contact
            <a href="tel:+610383766284" class="link footer-tel__link">
            <span class="footer__text--accent">+61 (0) 383 766 284</span></a></p>             
        </div>
        <ul class="list footer__list">
            <li class="footer-list__item">
                <p>&#169; 2022 - IceCream.</p>
            </li>
            <li class="footer-list__item">
                <p>All Rights Reserved.</p>    
            </li>
        </ul>        
    </div>
</footer>

