<footer class="footer__section">
    <div class="container">
        <div class="footer__field">
            <div class="footer-title__box">
                <p class="footer__title--bottom">
                    <span class="footer__title--top">homemade ice cream made</span>
                with passion</p>
            </div>
            <div class="footer__contacts">
                <ul class="list footer-social__list">
                    <li class="footer-social__item">
                        <a href="https://github.com/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                            <svg class="footer-social__icon" width="20" height="20">
                                <use href="../src/images/icon.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://web.telegram.org/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                            <svg class="footer-social__icon" width="20" height="16">
                                <use href="../src/images/icon.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://www.facebook.com/" class="footer-social__link circle" target="_blank" rel="noreferrer noopener">
                            <svg class="footer-social__icon" width="9" height="20">
                                <use href="../src/images/icon.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__text">Feel free to contact
                <a href="tel:+610383766284" class="link footer-tel__link">
                <span class="footer__text--accent">+61 (0) 383 766 284</span></a></p>             
            </div>
        </div>
        <div class="copyright">
            <p class="copyright__text">
                &#169; 2022 - IceCream. All Rights Reserved.
            </p>    
        </div>
    </div>
</footer>

