<section class="section__gallery" id="products">
  <div class="gallery container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list .list">
      <li class="gallery__item1">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream1.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream1@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream1.jpg"
          alt="Pink soufflé in the shape of a heart"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>
      <li class="gallery__item2">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream2.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream2@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream2.jpg"
          alt="Pink popsicle on a yellow plate with kiwi and orange rings"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>
      <li class="gallery__item3">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream3.jpg       400w,
            ../src/images/ice-cream@2x/ice-cream3@2x.jpg 800w
          "
          src="../src/images/ice-cream/ice-cream3.jpg"
          alt="A girl of seven years old in a white fur coat, a pink blouse and a pink cap"
          sizes="(min-width: 1280px) 260px, (min-width: 768px) 160px, (min-width: 320px) 60px, 5vw"
        />
      </li>
      <li class="gallery__item4">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream4.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream4@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream4.jpg"
          alt="Nude girl hugging and biting a huge ice cream"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>

      <li class="gallery__item6">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream6.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream6@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream6.jpg"
          alt="Balls of white, chocolate and blueberry ice cream on a white saucer"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>
      <li class="gallery__item7">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream7.jpg       400w,
            ../src/images/ice-cream@2x/ice-cream7@2x.jpg 800w
          "
          src="../src/images/ice-cream/ice-cream7.jpg"
          alt="Assorted six horns"
          sizes="(min-width: 1280px) 260px, (min-width: 768px) 160px, (min-width: 320px) 60px, 5vw"
        />
      </li>
      <li class="gallery__item8">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream8.jpg       400w,
            ../src/images/ice-cream@2x/ice-cream8@2x.jpg 800w
          "
          src="../src/images/ice-cream/ice-cream8.jpg"
          alt="Showcase with author's ice cream cones"
          sizes="(min-width: 1280px) 260px, (min-width: 768px) 160px, (min-width: 320px) 60px, 5vw"
        />
      </li>
      <li class="gallery__item9">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream9.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream9@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream9.jpg"
          alt="Six bowls of assorted ice cream in a rectangular shape"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>
      <li class="gallery__item10">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream10.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream10@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream10.jpg"
          alt="Two cones of white and chocolate ice cream in a glass on a yellow background"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 3200px) 30px, 5vw"
        />
      </li>
      <li class="gallery__item11">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream11.jpg       200w,
            ../src/images/ice-cream@2x/ice-cream11@2x.jpg 400w
          "
          src="../src/images/ice-cream/ice-cream11.jpg"
          alt="Ice cream cone in bright colors"
          sizes="(min-width: 1280px) 130px, (min-width: 768px) 80px, (min-width: 320px) 30px, 5vw"
        />
      </li>

      <li class="gallery__item13">
        <img
          class="gallery__foto"
          srcset="
            ../src/images/ice-cream/ice-cream13.jpg       400w,
            ../src/images/ice-cream@2x/ice-cream13@2x.jpg 800w
          "
          src="../src/images/ice-cream/ice-cream13.jpg"
          alt="Мулатка в розовом костюме на бардовом фоне за столом с белым мороженым"
          sizes="(min-width: 1280px) 260px, (min-width: 768px) 160px, (min-width: 320px) 60px, 5vw"
        />
      </li>
    </ul>
  </div>
</section>
