<section class="gallery container">
  <ul class="gallery__list .list">
    <li class="gallery__item1">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream1.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream1@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream1.jpg"
        alt="Розовое суфле в форме сердца"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item2">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream2.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream2@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream2.jpg"
        alt="Розовое эскимо на жёлтой тарелке с кольцами киви и апельсина"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item3">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream3.jpg       400w,
          ../src/images/ice-cream@2x/ice-cream3@2x.jpg 800w
        "
        src="../src/images/ice-cream/ice-cream3.jpg"
        alt="Девочка семи лет в белой шубке, розовой блузке и розовой кепке"
        sizes="(min-width: 1280px) 260px, (min-width: 768px) 180px, (min-width: 480px) 90px, 5vw"
      />
    </li>
    <li class="gallery__item4">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream4.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream4@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream4.jpg"
        alt="Девушка ню обнимает и кусает громодное мороженое"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item5">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream5.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream5@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream5.jpg"
        alt="Четыре белых эскимо на красной тарелке"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item6">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream6.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream6@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream6.jpg"
        alt="Шарики белого, шоколадного и черничного мороженного на белом блюдце"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item7">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream7.jpg       400w,
          ../src/images/ice-cream@2x/ice-cream7@2x.jpg 800w
        "
        src="../src/images/ice-cream/ice-cream7.jpg"
        alt="Шесть рожков ассорти"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item8">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream8.jpg       400w,
          ../src/images/ice-cream@2x/ice-cream8@2x.jpg 800w
        "
        src="../src/images/ice-cream/ice-cream8.jpg"
        alt="Витрина с рожками авторского мороженого"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item9">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream9.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream9@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream9.jpg"
        alt="Шесть шаров мороженого ассорти в прямоугольной форме"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item10">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream10.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream10@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream10.jpg"
        alt="Два рожка белого и шоколадного мороженого в стакане на желтом фоне"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item11">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream11.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream11@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream11.jpg"
        alt="Рожок мороженого ярких цветов"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item12">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream12.jpg       200w,
          ../src/images/ice-cream@2x/ice-cream12@2x.jpg 400w
        "
        src="../src/images/ice-cream/ice-cream12.jpg"
        alt="Торт-мороженое лесная ягода"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
    <li class="gallery__item13">
      <img
        class="gallery__foto"
        srcset="
          ../src/images/ice-cream/ice-cream13.jpg       400w,
          ../src/images/ice-cream@2x/ice-cream13@2x.jpg 800w
        "
        src="../src/images/ice-cream/ice-cream13.jpg"
        alt="Мулатка в розовом костюме на бардовом фоне за столом с белым мороженым"
        sizes="(min-width: 1280px) 130px, (min-width: 768px) 90px, (min-width: 480px) 45px, 5vw"
      />
    </li>
  </ul>
</section>
