<section class="gallery container">
  <ul class="gallery__list .list">
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset="
          ../images/ice-cream/ice-cream1.jpg       200w,
          ../images/ice-cream@2x/ice-cream1@2x.jpg 400w
        "
        src="../images/ice-cream/ice-cream1.jpg"
        alt="Розовое суфле в форме сердца"
        sizes="(min-width: 1280px) 200px, 5vw"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset="
          ../images/ice-cream/ice-cream2.jpg       200w,
          ../images/ice-cream@2x/ice-cream2@2x.jpg 400w
        "
        src="../images/ice-cream/ice-cream2.jpg"
        alt="Розовое эскимо на жёлтой тарелке с кольцами киви и апельсина"
        sizes="(min-width: 1280px) 200px, 5vw"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream3.jpg"
        alt="Девочка семи лет в белой шубке, розовой блузке и розовой кепке"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream4.jpg"
        alt="Девушка ню обнимает и кусает громодное мороженое"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream5.jpg"
        alt="Четыре белых эскимо на красной тарелке"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream6.jpg"
        alt="Шарики белого, шоколадного и черничного мороженного на белом блюдце"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream7.jpg"
        alt="Шесть рожков ассорти"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream8.jpg"
        alt="Витрина с рожками авторского мороженого"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream9.jpg"
        alt="Шесть шаров мороженого ассорти в прямоугольной форме"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream10.jpg"
        alt="Два рожка белого и шоколадного мороженого в стакане на желтом фоне"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream11.jpg"
        alt="Рожок мороженого ярких цветов"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream12.jpg"
        alt="Торт-мороженое лесная ягода"
      />
    </li>
    <li class="gallery__item">
      <img
        class="gallery__foto"
        srcset=""
        src="../images/ice-cream/ice-cream13.jpg"
        alt="Мулатка в розовом костюме на бардовом фоне за столом с белым мороженым"
      />
    </li>
  </ul>
</section>
