<header class="header">
  <div class="header__container container">
    <svg class="header__logo" width="50" height="50">
      <use href="./images/icon.svg#icon-logo"></use>
    </svg>
    <p class="header__title">icecream</p>

    <nav class="nav">
      <ul class="nav__list">
      <li class="nav__item"> <a class="nav__link" href="#home">Home</a></li>
      <li class="nav__item"> <a class="nav__link" href="#about">About us</a></li>
      <li class="nav__item"> <a class="nav__link" href="#made">How it’s made?</a></li>
      <li class="nav__item"> <a class="nav__link" href="#products">Our products</a></li>
      <li class="nav__item"> <a class="nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <svg class="header__open" width="20" height="12">
      <use href="./images/icon.svg#icon-menu_24px"></use>
    </svg>
    
    <button class="header__btn" type="button">Buy now <svg class="header__icon" width="4" height="8">
      <use href="./images/icon.svg#icon-vector-btn"></use>
    </svg></button>
  </div>
</header>

<!-- HERO -->
<section class="hero">
  <div class="container">
    <div class="hero__fon"></div>

    <div class="hero__box">
      <h1 class="hero__subject">ice cream made with <span class="hero__slogan">passion</span></h1>
    </div>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="#products"><button class="hero__btn" type="button">Products</button></a>
      </li>
      <li class="hero__item">
        <a href="#made" 
          ><button class="hero__btn hero__btn--button" type="button">How it’s made?</button></a
        >
      </li>
    </ul>
    <div class="hero__benefits">
    <ul class="hero__advantages">
      <li class="hero__element">
        <span class="hero__numbers">16</span>
        <p class="hero__subtitle">cafes</p>
      </li>
      <li class="hero__element">
        <span class="hero__numbers">23</span>
        <p class="hero__subtitle">food trucks</p>
      </li>
    </ul>
    <div class="hero__circle"></div>
    <div class="hero__circle1"></div>
  </div>



    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>

    <div class="hero__circle3">
<svg class="hero__svg" width="8" height="8">
      <use href="./images/icon.svg#icon-arrow-right2"></use>
    </svg></div>

    
    <!-- мороженка-->
    <picture class="hero__pic">
      <source
        type="image/jpeg"
        srcset="./images/header/pic1-768px.png 1x, ./images/header/pic1-768px@2x.png 2x"
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        type="image/jpeg"
        srcset="./images/header/pic1-1200px.png 1x, ./images/header/pic1-1200px@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <img
        class="card__image"
        srcset="./images/header/pic1-320px.png 1x, ./images/header/pic1-320px@2x.png 2x"
        src="./images/header/pic1-320px.png"
        alt="ice"
        width="320"
      />
    </picture>
    <!-- молоко-->
    <picture class="hero__milk">
      <source
        type="image/jpeg"
        srcset="./images/header/pic2-768px.png 1x, ./images/header/pic2-768px@2x.png 2x"
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        type="image/jpeg"
        srcset="./images/header/pic2-1200px.png 1x, ./images/header/pic2-1200px@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <img
        class="card__milk"
        srcset="./images/header/pic2-768px.png 1x, ./images/header/pic2-768px@2x.png 2x"
        src="./images/header/pic2-768px.png"
        alt="ice"
        width="768"
      />
    </picture>
  
  <!-- дівчина-->
  <picture class="hero__girl">
  
    <source
      type="image/jpeg"
      srcset="./images/header/pic3-768px.png 1x, ./images/header/pic3-768px@2x.png 2x"
      media="(min-width: 768px) and (max-width: 1199px)"
    />
    <source
      type="image/jpeg"
      srcset="./images/header/pic3-1200px.png 1x, ./images/header/pic3-1200px@2x.png 2x"
      media="(min-width: 1200px)"
    />
    <img
      class="card__girl"
      srcset="./images/header/pic3-768px.png 1x, ./images/header/pic3-768px@2x.png 2x"
      src="./images/header/pic3-768px.png"
      alt="ice"
      width="768"
    /></picture>
  
</section>
