<section class="section-products">
    <div class="section-products__container">
        <p class="section-products__label" >100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="list section-products__list">
            <li class="section-products__item">
                <h3 class="section-products__text">ice cream</h3>
                <p class="section-products__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            </li>
            <li class="section-products__item">
                <h3 class="section-products__text">ice coffee</h3>
                <p class="section-products__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et. dolore magna
                    aliqua facilisis.</p>
            </li>
            <li class="section-products__item">
                <h3 class="section-products__text">milkshakes</h3>
                <p class="section-products__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et. dolore magna
                    aliqua facilisis.</p>
            </li>
        </ul>
    </div>
</section>



