<section id="about" class="section-products">
  <div class="section-products__container container">
    <p class="section-products__label">100% natural</p>
    <h2 class="section-products__title">products</h2>
    <ul class="list section-products__list">
      <li class="section-products__item section-products__item--first">
        <h3 class="section-products__text section-products__text--first">ice cream</h3>
        <p class="section-products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut labore et.
          aliqua facilisis.
        </p>
        <input type="checkbox" id="read-more" hidden />
        <p class="extra-text">Lorem ipsum dolor sit amet adipisicing elit.</p>
        <label for="read-more" class="read-more">
          <svg class="btn-products__icon" width="14" height="14">
            <use href="/images/icon.svg#icon-arrow-right"></use></svg
          ><span class="more"></span><span class="less"></span>
        </label>
      </li>
      <li class="section-products__item section-products__item--second">
        <h3 class="section-products__text section-products__text--second">ice coffee</h3>
        <p class="section-products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut labore et.
          aliqua facilisis.
        </p>
        <input type="checkbox" id="read-more__second" hidden />
        <p class="extra-text__second">Lorem ipsum dolor sit amet adipisicing elit.</p>
        <label for="read-more__second" class="read-more__second">
          <svg class="btn-products__icon" width="14" height="14">
            <use href="/images/icon.svg#icon-arrow-right"></use></svg
          ><span class="more__second"></span><span class="less__second"></span>
        </label>
      </li>
      <li class="section-products__item section-products__item--third">
        <h3 class="section-products__text section-products__text--third">milkshakes</h3>
        <p class="section-products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut labore et.
          aliqua facilisis.
        </p>
        <input type="checkbox" id="read-more__third" hidden />
        <p class="extra-text__third">Lorem ipsum dolor sit amet adipisicing elit.</p>
        <label for="read-more__third" class="read-more__third">
          <svg class="btn-products__icon" width="14" height="14">
            <use href="/images/icon.svg#icon-arrow-right"></use></svg
          ><span class="more__third"></span><span class="less__third"></span>
        </label>
      </li>
    </ul>
  </div>
</section>
