<!-- Swiper -->
<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <picture class="customer-item__photo">
            <source
              srcset="
                ../src/images/reviews/testimonials1.png    1x,
                ../src/images/reviews/testimonials1-2x.png 2x
              "
            />
            <img src="../src/images/reviews/testimonials1.png" alt="Elen" />
          </picture>

          <div class="content-wrapper">
            <div class="text-wrapper">
              <p class="customer-item__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-item__name">Emili, Los Angeles</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture class="customer-item__photo">
            <source
              srcset="
                ../src/images/reviews/testimonials2.png    1x,
                ../src/images/reviews/testimonials2-2x.png 2x
              "
            />
            <img src="../src/images/reviews/testimonials2.png" alt="Elen" />
          </picture>

          <div class="content-wrapper">
            <div class="text-wrapper">
              <p class="customer-item__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-item__name">Helen, New York</p>
        </div>
        <div class="swiper-slide customer-item">
          <picture class="customer-item__photo">
            <source
              srcset="
                ../src/images/reviews/testimonials3.png    1x,
                ../src/images/reviews/testimonials3-2x.png 2x
              "
            />
            <img src="../src/images/reviews/testimonials3.png" alt="Elen" />
          </picture>
          <div class="content-wrapper">
            <div class="text-wrapper">
              <p class="customer-item__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-item__name">Zinaida, Kropivnitskiy</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
