.gallery {
  display: block;
  position: relative;
  margin: 145px auto 117px auto;
  height: auto;
  background-image: linear-gradient(to bottom, $section-bg-color 39%, #ffffff 61%);
  background-size: cover;
  background-position: center;
}
