//Футер
.footer__section {
    background-color: var(--section-bg-color);
}

//Общий контейнер для заглавного текста и контактов в футере
.footer__field {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
    }

    @media screen and (min-width: 1280px) {
            padding-bottom: 100px;
    }
}

//Заглавный текст в футере
.footer-title__box {
    max-width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 45px;

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        max-width: 340px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        max-width: 500px;
    }
}

.footer__title {
    //Нomemade ice cream made
    &--top {
        display: block;
        font-family: Titan One;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-transform:  uppercase;
        color: var(--secondary-accent-color);
        margin-bottom: 17px;

        @media screen and (min-width: 768px) {
            margin-bottom: 16px;
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: 0.04em;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 15px;
            font-size: 30px;
            line-height: 1.13;
        }
    }
    //With passion
    &--bottom {
        font-family: Titan One;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--accent-color);

        @media screen and (min-width: 768px) {
            font-size: 48px;
            letter-spacing: 0.06em;
        }

        @media screen and (min-width: 1280px) {
            font-size: 58px;
            line-height: 1.14;
        }
    }
}

.footer__contacts {
    @media screen and (max-width: 767px) {
        margin-bottom: 45px;
    }
}

//Иконки соцсетей в футере
.footer-social__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
}

.footer-social__item {

    &+& {
        margin-left: 28px;

        @media screen and (min-width: 768px) {
            margin-left: 30px;
        }

        @media screen and (min-width: 1280px) {
            margin-left: 24px;
        }
    }
}

.footer-social__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    //Иконки соцсетей при наведении
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

//Контейнер-окружность для иконок
.circle {
    background-color: #FEA5BB;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
    }
}

.footer-social__icon {
    fill: #fff;
}

//Свяжитесь с нами
.footer__text {
    width: 100%;
    margin-left: auto;
    font-weight: 700;
    line-height: 1.83;
    text-align: right;
    color: #000000;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        letter-spacing: 0.02em;
    }

    &--accent {
        display: inline-block;
        margin-left: 5px;
        color: var(--accent-color);
    }
}

//Авторское право
//Элемент-бордер
.copyright::before {

    @media screen and (min-width: 768px) {
        content: " ";
        width: 100%;
        height: 1px;    
        background-color: #E1E1E1;
        display: block;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
    }
}

.copyright {
    @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    border-top: 1px solid #E1E1E1;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 10px;
    }
}

.copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-text-color);

    @media screen and (max-width: 479px) {
        max-width: 150px;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
        letter-spacing: 0.02em;
        line-height: 1.86;
    }
}