.gallery {
  display: block;
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%, #ffffff 60%);
  height: auto;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    margin: 97px auto 80px auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 140px auto 121px auto;
  }

  @media screen and (min-width: 1280px) {
    margin: 145px auto 117px auto;
  }
}

.gallery__list {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: space-evenly;
  position: relative;
  padding: 0 112px;

  li:hover,
  li:focus {
    .gallery__foto {
      opacity: 0.6;
    }
  }
  .gallery__item2 {
    display: flex;
    grid-row: 1/3;
    align-items: flex-end;
    justify-content: center;
  }

  .gallery__item1 {
    display: flex;
    grid-area: 3/3/3/4;
    align-content: flex-end;
    justify-content: center;
  }
  .gallery__item3 {
    display: flex;
    align-items: center;
    grid-area: 2/5/3/6;
  }
  .gallery__item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/6/3/6;
  }
  .gallery__item5 {
    display: flex;
    align-items: center;
    grid-area: 3/5/4/5;
  }
  .gallery__item6 {
    display: flex;
    align-items: flex-start;
    grid-row: 3/3;
  }
  .gallery__item7 {
    display: flex;
    justify-content: center;
    grid-area: 1/5/2/6;
  }
  .gallery__item8 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3/6/3/7;
  }
  .gallery__item9 {
    display: flex;
    grid-row: 3/3;
    align-items: flex-end;
  }
  .gallery__item10 {
    display: flex;
    grid-area: 2/7/4/7;
    align-items: center;
  }

  .gallery__item11 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1/3;
  }
  .gallery__item12 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/7/2/7;
  }

  .gallery__item13 {
    display: flex;
    justify-content: center;
    grid-area: 1/2/3/4;
  }
}
.gallery__foto {
  border-radius: 7%;

  @media screen and (width-min: 1280px) {
    width: 50%;
  }
}
