.section-gallery {
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 10%, #ffffff 10%);
  background-size: cover;
  background-position: center;
  //   padding-bottom: 76px;
  @media screen and (min-width: 768px) {
    // padding-bottom: 121px;
    background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 10%, #ffffff 10%);
  }
  @media screen and (min-width: 1280px) {
    // padding-bottom: 123px;
    background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 30%, #ffffff 70%);
  }
}

.gallery {
  padding: 0;

  & img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    @media screen and (min-width: 320px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    @media screen and (min-width: 1280px) {
      width: 100%;
    }
  }
}
